body {
 display: flex;
 flex-direction: column;

  background-color: black
}

#boton-inicio {
  color: black;
  display: flex;
  background-color: rgb(14, 139, 14);
  padding: 15px;
  border-radius: 30px;
  font-size: large;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
#boton-reinicio {
  color: black;
  display: flex;
  background-color: red;
  padding: 15px;
  border-radius: 30px;
  font-size: large;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}



  
  #pantalla-inicio, #pantalla-final{
   
    width: 800px;
  
    background-image: url("./imagenes/circuito.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     margin-top: 75px;
    
     -webkit-box-shadow: 0px 0px 69px 23px rgba(19,255,78,0.54); 
  box-shadow: 0px 0px 69px 23px rgba(19,255,78,0.54);
  -webkit-border-radius: 18px;
  border-radius: 18px;
   
  }



#pantalla-juego{
  color: white;
  background-color: black  
  
}


.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#caja-juego {
  width: 801px;
  height: 801px;
  background-image: url("./imagenes/circuito.png");
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  user-select: none;
  -webkit-box-shadow: 0px 0px 69px 23px rgba(19,255,78,0.54); 
box-shadow: 0px 0px 69px 23px rgba(19,255,78,0.54);
-webkit-border-radius: 18px;
  border-radius: 18px;
}
#caja-juego {
  pointer-events: none;
}
#pantalla-juego,
#pantalla-final {
  display: none;
}
