body {
  margin: 0;
  background-color: rgb(250, 246, 246);
}

#boton-inicio {
  display: flex;
  background-color: rgb(33, 224, 33);
  padding: 15px;
  border-radius: 15px;
}
#boton-reinicio {
  display: flex;
  background-color: red;
  padding: 15px;
  border-radius: 15px;
}
#pantalla-inicio, #pantalla-final{
  display: flex;
  background-image: url("./imagenes/circuito.png");
  background-repeat: no-repeat;
  background-position: center;
 
 
}
#pantalla-juego{
  background-color: rgb(240, 235, 235);
  text-decoration-color: honeydew ;
}

#instruccion {
  display: flex;
  
}
.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#caja-juego {
  width: 801px;
  height: 801px;
  background-image: url("./imagenes/circuito.png");
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  user-select: none;
}
#caja-juego {
  pointer-events: none;
}
#pantalla-juego,
#pantalla-final {
  display: none;
}
